<!-- Header Section Begin -->
<header class="header">
  <div class="header__top">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="header__top__left">
            <ul>
              <li><i class="fa fa-envelope"></i> customercare@ekart.com</li>
              <li>Free Shipping for all Order of $99</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="header__top__right">
            <div class="header__top__right__social">
              <a><i class="fa fa-facebook"></i></a>
              <a><i class="fa fa-twitter"></i></a>
              <a><i class="fa fa-linkedin"></i></a>
              <a><i class="fa fa-pinterest-p"></i></a>
            </div>
            <div class="header__top__right__auth">
              <a [routerLink]="['/register']"
                ><i class="fa fa-user"></i> Signup</a
              >
              <span class="arrow_carrot-down"></span>
            </div>
            <div class="header__top__right__auth">
              <a [routerLink]="['/login']"><i class="fa fa-user"></i> Login</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <nav class="main_nav">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="main_nav_content">
            <div class="header__menu">
              <a [routerLink]="['']" style="margin-right: 30px"
                >Home<i class="fas fa-chevron-down"></i
              ></a>
              <a style="margin-right: 30px" [routerLink]="['/product']"
                >Products<i class="fas fa-chevron-down"></i
              ></a>
              <a style="margin-right: 30px" [routerLink]="['/category']"
                >Category<i class="fas fa-chevron-down"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav> -->
  <div
    class="animated fadeInDown"
    id="sticky-header"
    style="background-color: white; z-index: 100"
  >
    <div class="row" style="margin-left: 50px">
      <div class="col-lg-3">
        <div class="header__logo">
          <a [routerLink]="['/']"
            ><img
              style="height: 50px; width: 150px"
              src="../../../assets/img/logo.png"
              alt=""
          /></a>
        </div>
      </div>

      <div class="col-lg-6 col-12 order-lg-2 order-3 text-lg-left text-right">
        <div class="header_search">
          <div class="header_search_content">
            <div class="header_search_form_container">
              <form action="#" class="header_search_form clearfix">
                <input
                  type="search"
                  required="required"
                  class="header_search_input"
                  placeholder="Search for products..."
                />
                <div class="custom_dropdown" style="display: none">
                  <div class="custom_dropdown_list">
                    <span class="custom_dropdown_placeholder clc"
                      >All Categories</span
                    >
                    <i class="fas fa-chevron-down"></i>
                    <ul class="custom_list clc">
                      <li><a class="clc" href="#">All Categories</a></li>
                      <li><a class="clc" href="#">Computers</a></li>
                      <li><a class="clc" href="#">Laptops</a></li>
                      <li><a class="clc" href="#">Cameras</a></li>
                      <li><a class="clc" href="#">Hardware</a></li>
                      <li><a class="clc" href="#">Smartphones</a></li>
                    </ul>
                  </div>
                </div>
                <button
                  type="submit"
                  class="header_search_button trans_300"
                  value="Submit"
                >
                  <img
                    src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560918770/search.png"
                    alt=""
                  />
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>

      <!-- Wishlist -->
      <div class="col-lg-3 col-9 order-lg-3 order-2 text-lg-left text-right">
        <div
          class="wishlist_cart d-flex flex-row align-items-center justify-content-end"
        >
          <a
            [routerLink]="['/favorite']"
            class="wishlist d-flex flex-row align-items-center justify-content-end"
          >
            <div class="wishlist_icon">
              <img
                src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560918681/heart.png"
                alt=""
              />
            </div>
            <div class="wishlist_content">
              <div class="wishlist_text"><a href="#">Wishlist</a></div>
              <div class="wishlist_count">10</div>
            </div>
          </a>

          <!-- Cart -->
          <a class="cart" [routerLink]="['/cart']">
            <div
              class="cart_container d-flex flex-row align-items-center justify-content-end"
            >
              <div class="cart_icon">
                <img
                  src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560918704/cart.png"
                  alt=""
                />
                <div class="cart_count"><span>3</span></div>
              </div>
              <div class="cart_content">
                <div class="cart_text"><a href="#">Cart</a></div>
                <div class="cart_price">$185</div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="humberger__open">
      <i class="fa fa-bars"></i>
    </div>
  </div>
</header>
